{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <!-- Показывам кнопку со ссылкой, если есть предыдущая страница -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.previous_page_number %}">Назад</a></li>
    {% endif %}

    <!-- Прибавляем к номеру текущей страницы -4 (т.е. отнимаем 4) -->
    {% if page_obj.number|add:'-4' > 0 %}
    <!-- Если до текущей страницы есть больше 4 страниц, показываем многоточие -->
    <li class="page-item disabled"><a class="page-link">...</a></li>
    {% endif %}

    {% if page_obj.number|add:'-3' > 0 %}
    <!-- Если до текущей страницы есть ещё три страницы -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.number|add:'-3' %}">{{ page_obj.number|add:'-3' }}</a></li>
    {% endif %}
    {% if page_obj.number|add:'-2' > 0 %}
    <!-- Если до текущей страницы есть ещё две страницы -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.number|add:'-2' %}">{{ page_obj.number|add:'-2' }}</a></li>
    {% endif %}
    {% if page_obj.number|add:'-1' > 0 %}
    <!-- Если до текущей страницы есть ещё одна страница -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.number|add:'-1' %}">{{ page_obj.number|add:'-1' }}</a></li>
    {% endif %}

    <!-- Номер текущей страницы -->
    <li class="page-item active"><a class="page-link" > {{ page_obj.number }}</a></li>

    {% if page_obj.number|add:'1' <= page_obj.paginator.num_pages %}
    <!-- Если после текущей страницы есть ещё одна страница -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.number|add:'1' %}">{{ page_obj.number|add:'1' }}</a></li>
    {% endif %}
    {% if page_obj.number|add:'2' <= page_obj.paginator.num_pages %}
    <!-- Если после текущей страницы есть ещё две страницы -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.number|add:'2' %}">{{ page_obj.number|add:'2' }}</a></li>
    {% endif %}
    {% if page_obj.number|add:'3' <= page_obj.paginator.num_pages %}
    <!-- Если после текущей страницы есть ещё три страницы -->
    <li class="page-item"><a class="page-link" href="{% url 'admin:page' category.pk page_obj.number|add:'3' %}">{{ page_obj.number|add:'3' }}</a></li>
    {% endif %}

    {% if page_obj.number|add:'4' <= page_obj.paginator.num_pages %}
    <!-- Если после текущей страницы есть ещё четыре страницы -->
    <li class="page-item disabled"><a class="page-link">...</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <!-- Показывам кнопку со ссылкой, если есть следующая страница -->
    <a class="page-link" href="{% url 'admin:page' category.pk page_obj.next_page_number %}">Вперед</a>
    {% endif %}
    </ul>
</nav>
{% endif %}